:root {
  --light-color: #dadada;
  --lighter-color: #f8f8f8;
  --contrast-light-color: #fff;
  --dark-color: #575767;
  --dark-color-rgb: 87, 87, 103;
  --darker-color: #000;
  --darker-color-rgb: 0, 0, 0;
  --accent-color: #4642a1;
  --base-font-family: 'Inter', sans-serif;
  --base-font: 400 18px var(--base-font-family);
  --base-time: 0.2s;
}
