:root {
  --light-color: #dadada;
  --lighter-color: #f8f8f8;
  --dark-color: #575767;
  --darker-color: #000;
  --accent-color: #4642a1;
  --base-font-family: 'Inter', sans-serif;
  --base-font: 400 18px var(--base-font-family);
}
