.input {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--light-color);
  transition: var(--base-time);
  font: 400 14px var(--base-font-family);
  color: var(--dark-color);

  &:focus {
    border-color: var(--dark-color);
  }
}
