.addTodo {
  &Form {
    position: relative;

    &Loader {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    display: flex;
    flex-direction: column;
    gap: 16px;

    &Title {
      margin-top: 0;
      margin-bottom: 4px;
      font: 600 14px var(--base-font-family);
      color: var(--dark-color);
    }

    &Input,
    &Textarea {
      width: 100%;
    }

    &Textarea {
      height: 200px;
    }
  }
}
